  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 20px;
    --background: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
  }

  ion-item {
    --highlight-color-focused: #000000;
  }
.titulo-principal {
  text-align: left; /* Alineación a la izquierda */
  width: auto; /* Ajusta el ancho si es necesario */
  margin-left: 40px; /* Espaciado desde la izquierda (opcional) */
  font-size: 18px; /* Tamaño del texto */
  font-weight: normal; /* Estilo opcional */
  color: #000000; /* Letra en negro fuerte */
  }

  ion-button {
    margin: 10px 0;
    --background: linear-gradient(135deg, #8933df 0%, #329abd 100%);
    --background-hover: linear-gradient(135deg, #8933df 0%, #329abd 100%);
    --border-radius: 8px;
    --color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    height: 44px;
    
    &[color="secondary"] {
      --background: linear-gradient(135deg, #8933df 0%, #329abd 100%);
      --background-hover: linear-gradient(135deg, #8933df 0%, #329abd 100%);
    }
  }

  .error-message {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
  }

  ion-card {
    margin: 16px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.858);
  }

  ion-card-header {
    background: linear-gradient(135deg, #8933df 0%, #329abd 100%);
  }

  ion-card-title.titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
  }

  ion-card-content {
    padding: 16px;
  
    p {
      margin: 8px 0;
      line-height: 1.4;
    
      strong {
        color: #6823ac;
      }
    }
  }

  ion-item {
    margin: 24px 0;
    --background: #f8f8f8;
    border-radius: 8px;
  }

  ion-label {
    font-weight: 500;
  }

  ion-input {
    --padding-start: 10px;
    margin-top: 8px;
  }

