ion-header {
  --background: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
  --color: rgb(125, 146, 216); /* Texto en blanco */
  padding: 10px 16px;
  ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;
    ion-title {
      font-size: 20px;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    ion-buttons {
      ion-button {
        --background: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
        --color: white;
        font-weight: bold;
        &:hover {
          --background: linear-gradient(135deg, #6ab3d1 0%, #a77fd0 100%);
        }
      }
    }
  }
}

:host {
  --background: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
}

ion-content {
  --background: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
  padding: 16px;
  
  ion-list {
    margin-bottom: 20px;
    
    ion-item {
      background: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
      border-radius: 8px;
      margin-bottom: 12px;
      padding: 12px 16px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: translateY(-4px);
      }
      
      ion-label {
        font-size: 16px;
        font-weight: 600;
        color: #333;
      }
    }
  }

  div {
    background-color: linear-gradient(135deg, #78cce8 0%, #bd95e5 100%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    
    h2 {
      font-size: 18px;
      color: #333;
      font-weight: bold;
      margin-bottom: 16px;
    }

    ion-item {
      margin-bottom: 14px;

      ion-label {
        font-size: 17px;
        color: #555;
        margin-top: -15px;
      }

      ion-input {
        font-size: 16px;
        padding: 8px;
        border-radius: 4px;
        background-color: #f9f9f9;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
        
        &::placeholder {
          color: #aaa;
        }
      }
    }
  }
}
