
<ion-header>
  <ion-toolbar>
    <ion-title>Editar Remedio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let remedio of remedios" (click)="selectRemedio(remedio.id)">
      <ion-label>{{ remedio.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="remedio">
    <h2>Detalles del Remedio</h2>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="remedio.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="remedio.descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Dosis</ion-label>
      <ion-input [(ngModel)]="remedio.dosis"></ion-input>
    </ion-item>
  </div>
</ion-content>
