/* Estilos generales para la página de inicio de sesión */
.login-page {
    padding: 16px; /* Espacio alrededor de la página */
    background-color: #e0e0e0c8; /* Color de fondo suave */
  }
  
  /* Estilo para la tarjeta */
  .card-style {
    margin: auto; /* Centra la tarjeta */
    max-width: 400px; /* Limita el ancho de la tarjeta */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Título de la aplicación */
  .app-title {
    font-size: 32px; /* Tamaño de fuente para el título de la aplicación */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    margin: 0; /* Elimina el margen alrededor del título */
  }
  
  /* Título de bienvenida */
  .welcome-title {
    font-size: 24px; /* Tamaño de fuente del título de bienvenida */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    margin: 16px 0; /* Margen arriba y abajo */
  }
  
  /* Espaciado de los botones */
  .login-button,
  .register-button {
    margin-top: 10px; /* Margen entre los botones */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  /* Estilo para los campos de entrada */
  ion-item {
    margin-bottom: 16px; /* Espaciado entre los campos de entrada */
  }
  
  /* Estilo de los íconos */
  ion-icon {
    color: #888; /* Color de los íconos */
  }
  
  /* Ajustes de color para los botones */
  .login-button {
    background-color: #3880ff; /* Color de fondo del botón de ingreso */
    color: rgb(255, 255, 255); /* Color del texto */
  }
  
  .register-button {
    background-color: #ffc107; /* Color de fondo del botón de registro */
    color: rgb(255, 255, 255); /* Color del texto */
  }
  
  /* Hover effect para los botones */
  .login-button:hover,
  .register-button:hover {
    opacity: 0.9; /* Efecto de opacidad al pasar el ratón */
  }
  