  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="list-outline" size="large" color="dark"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title> Ejemplos de Ejercicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Saltos de Tijera</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Realiza saltos de tijera durante 5 minutos para fortalecer tu sistema cardiovascular.
      </ion-card-content>
      <ion-img src="assets/icon/image.png" alt="Saltos de Tijera"></ion-img>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Burpees</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Realiza burpees en intervalos de 3-5 minutos para mejorar fuerza y resistencia.
      </ion-card-content>
      <ion-img src="assets/icon/burpee.jpeg" alt="Burpees"></ion-img>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Saltar la Cuerda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Saltar la cuerda durante 5 minutos, alternando ritmo y velocidad para un mejor rendimiento.
      </ion-card-content>
      <ion-img src="assets/icon/saltar.jpg" alt="Saltar la cuerda"></ion-img>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Skipping</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Eleva las rodillas rápidamente durante 5 minutos para un entrenamiento cardiovascular intenso.
      </ion-card-content>
      <ion-img src="assets/icon/spy.jpg" alt="Skipping"></ion-img>
    </ion-card>
  </ion-content>