ion-content {
  --background: linear-gradient(135deg, #b36cfa 0%, #6cd2f4 100%);
  padding: 20px;
  margin-top: 50px;
}


table {
  width: 100%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  border: 2px solid #4853c8e0;
  box-shadow: 0 4px 15px rgba(157, 71, 245, 0.2);
}

p {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.mat-header-cell,
.mat-cell {
  padding: 8px;
  color: #1a2633;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 15px rgba(157, 71, 245, 0.2);
}

ion-menu {
  --min-width: 200px;
  --background: rgba(255, 255, 255, 0.95);
}

ion-buttons {
  ion-menu-button {
    --color: #9d47f5;
  }
}

ion-menu ion-content {
  padding: 10px;
  --background: linear-gradient(135deg, #b977fb 0%, #33ccff 100%);
}

ion-menu ion-list {
  padding: 0;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
}

ion-menu ion-item {
  --background: rgba(255, 255, 255, 0.95);
  --color: #1a2633;
  margin-bottom: 5px;
  border-radius: 12px;
  border: 1px solid #33ccff;
}

ion-menu ion-item:hover {
  --background: rgba(157, 71, 245, 0.15);
}

.reminder-text {
  font-size: 18px;
  font-weight: bold;
  margin: 25px auto;
  color: #91619e;
  background: rgba(255, 255, 255, 0.98);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #33ccff;
  box-shadow: 0 6px 12px rgba(157, 71, 245, 0.2);
  text-align: center;
  max-width: 800px;
  line-height: 1.5;
  animation: fadeIn 0.5s ease-in-out;
}

.welcome-text {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  letter-spacing: 0.5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}