<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Rutinas de Salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/ejer.jpg" alt="Ejercicio Diario">
      </ion-thumbnail>
      <ion-label>
        <h2>Ejercicio Diario</h2>
        <p>30 minutos de actividad física moderada, como caminar, trotar o yoga.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/comida.jpg" alt="Alimentación Saludable">
      </ion-thumbnail>
      <ion-label>
        <h2>Alimentación Saludable</h2>
        <p>Incluye 5 porciones de frutas y verduras al día para una dieta equilibrada.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/OIP.jpg" alt="Hidratación">
      </ion-thumbnail>
      <ion-label>
        <h2>Hidratación</h2>
        <p>Bebe al menos 8 vasos de agua al día para mantenerte hidratado.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/des.jpg" alt="Descanso">
      </ion-thumbnail>
      <ion-label>
        <h2>Descanso</h2>
        <p>Duerme 8 horas diarias para una recuperación óptima del cuerpo.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/meditacion.jpg" alt="Meditación">
      </ion-thumbnail>
      <ion-label>
        <h2>Meditación</h2>
        <p>Dedica 15 minutos al mindfulness o a ejercicios de respiración.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/estiramientos.jpg" alt="Estiramientos">
      </ion-thumbnail>
      <ion-label>
        <h2>Estiramientos</h2>
        <p>Realiza 10 minutos de estiramientos al inicio y final de cada día.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/cardio.jpg" alt="Ejercicios de Cardio">
      </ion-thumbnail>
      <ion-label>
        <h2>Ejercicios de Cardio</h2>
        <p>Practica 20 minutos de ejercicios como saltar la cuerda o bicicleta.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/fuerza.jpg" alt="Entrenamiento de Fuerza">
      </ion-thumbnail>
      <ion-label>
        <h2>Entrenamiento de Fuerza</h2>
        <p>Incluye ejercicios con pesas o resistencia 2-3 veces por semana.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>